[Unit]
Description=Run measure-app every 30 minutes on the hour and half hour

[Timer]
OnBootSec=2min
OnCalendar=*:0/30
Persistent=true
Unit=measure-app.service

[Install]
WantedBy=timers.target
